.card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
}

.title {
    margin-bottom: 20px;
    font-family: "San Francisco";
}

.description {
    font-family: "San Francisco";
}

.content {
    background-color: #151718;
    color: white;
    border-radius: 5px;
    padding: 25px 50px;
    margin-top: 20px;
    font-family: 'Source Code Pro', monospace;

} 

.reserve {
    color: #e6cd6a;
}

.variable-name {
    color: #54b6db;
}

.indent {
    margin-left: 58px;
}

.comment {
    color: #42525b
}

.string {
    color: #51add1;
}

.function {
    color: #a074c4;
}